$Dark-Theme: #22252d;
$Dark-Theme-Body : #2a2d37;
$White_Theme : #ffffff;
$White-Theme-Body : #f8f8f8;
$Calculate-Buttons-Red: #48393e;
$Calculate-Buttons-Green:#46ff9d;
$Button-Bg-Dark : #252b32;
$Button-Bg-White: #f6f6f6;
$Screen-White-Mode-Color : #73777e;
$Screen-Dark-Mode-Color : #ededed;
$White-Mode-Change-Theme-Bg: #f9f9f9;
$Dark-Mode-Change-Theme-bg : #2a2d35;
$Light-Grey:#dddddd;
$Operator: #cb671b;
$Bg-Color : #ededed;
$FF-Family : 'Kumbh Sans', sans-serif; 
$Box-shadow : 0px 2px 20px rgba(0,0,0,0.4);